
<h2>Category</h2>

						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
     <% if @categories.present? %>
               <div class="categories_list">
                             <%= render partial: "partials/categories_list", locals: {categories: @categories} %>
                                     </div>
                                   <% end %>
										</a>
									</h4>
                </div>
								<div id="sportswear" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="#">Under Armour </a></li>
											<li><a href="#">Adidas </a></li>
											<li><a href="#">Puma</a></li>
											<li><a href="#">ASICS </a></li>
                    </ul>
									</div>
								</div>
              </div>
						</div><!--/category-products-->
					
