

<%= render 'partials/slider' %>

<section>
<div class="container pt">
  <div class="row">

      <div class="col-sm-12">
        <%= render 'partials/home_center_features_items' %>
        <%= render 'partials/recommended_items' %>
    </div>
  </div>
</div>
</section>

